

        <div class="accordion accordion-flush" id="accordionFlush1">
          <div class="accordion-item">
            <div class="accordion-header" id="flush-heading1">
              <a href="index.html">Summary and Setup</a>
            </div><!--/div.accordion-header-->
          </div><!--/div.accordion-item-->
        </div><!--/div.accordion-flush-->


        <div class="accordion accordion-flush" id="accordionFlush2">
          <div class="accordion-item">
            <div class="accordion-header" id="flush-heading2">
              <a href="00-repo-access.html">1. Repository Access</a>
            </div><!--/div.accordion-header-->
          </div><!--/div.accordion-item-->
        </div><!--/div.accordion-flush-->


        <div class="accordion accordion-flush" id="accordionFlush3">
          <div class="accordion-item">
            <div class="accordion-header" id="flush-heading3">
              <a href="01-issues.html">2. Issues</a>
            </div><!--/div.accordion-header-->
          </div><!--/div.accordion-item-->
        </div><!--/div.accordion-flush-->


        <div class="accordion accordion-flush" id="accordionFlush4">
          <div class="accordion-item">
            <div class="accordion-header" id="flush-heading4">
              <a href="02-branching.html">3. Branching Models</a>
            </div><!--/div.accordion-header-->
          </div><!--/div.accordion-item-->
        </div><!--/div.accordion-flush-->


        <div class="accordion accordion-flush" id="accordionFlush5">
          <div class="accordion-item">
            <div class="accordion-header" id="flush-heading5">
              <a href="03-feature-branch.html">4. Feature Branch Model</a>
            </div><!--/div.accordion-header-->
          </div><!--/div.accordion-item-->
        </div><!--/div.accordion-flush-->


        <div class="accordion accordion-flush" id="accordionFlush6">
          <div class="accordion-item">
            <div class="accordion-header" id="flush-heading6">
              <a href="04-review.html">5. Review</a>
            </div><!--/div.accordion-header-->
          </div><!--/div.accordion-item-->
        </div><!--/div.accordion-flush-->


        <div class="accordion accordion-flush" id="accordionFlush7">
          <div class="accordion-item">
            <div class="accordion-header" id="flush-heading7">
              <a href="Break.html">6. Break</a>
            </div><!--/div.accordion-header-->
          </div><!--/div.accordion-item-->
        </div><!--/div.accordion-flush-->


        <div class="accordion accordion-flush" id="accordionFlush8">
          <div class="accordion-item">
            <div class="accordion-header" id="flush-heading8">
              <a href="05-forks.html">7. Forks</a>
            </div><!--/div.accordion-header-->
          </div><!--/div.accordion-item-->
        </div><!--/div.accordion-flush-->


        <div class="accordion accordion-flush" id="accordionFlush9">
          <div class="accordion-item">
            <div class="accordion-header" id="flush-heading9">
              <a href="06-conflict.html">8. Conflicts</a>
            </div><!--/div.accordion-header-->
          </div><!--/div.accordion-item-->
        </div><!--/div.accordion-flush-->


        <div class="accordion accordion-flush" id="accordionFlush10">
          <div class="accordion-item">
            <div class="accordion-header" id="flush-heading10">
              <a href="07-history.html">9. History</a>
            </div><!--/div.accordion-header-->
          </div><!--/div.accordion-item-->
        </div><!--/div.accordion-flush-->


        <div class="accordion accordion-flush" id="accordionFlush11">
          <div class="accordion-item">
            <div class="accordion-header" id="flush-heading11">
              <a href="End.html">10. End</a>
            </div><!--/div.accordion-header-->
          </div><!--/div.accordion-item-->
        </div><!--/div.accordion-flush-->


        <div class="accordion accordion-flush" id="accordionFlush12">
          <div class="accordion-item">
            <div class="accordion-header" id="flush-heading12">
              <a href="08-rebase.html">11. 'Rebasing'</a>
            </div><!--/div.accordion-header-->
          </div><!--/div.accordion-item-->
        </div><!--/div.accordion-flush-->


        <div class="accordion accordion-flush" id="accordionFlush13">
          <div class="accordion-item">
            <div class="accordion-header" id="flush-heading13">
              <a href="09-pre-commit.html">12. 'Pre-commit'</a>
            </div><!--/div.accordion-header-->
          </div><!--/div.accordion-item-->
        </div><!--/div.accordion-flush-->
